
img {
  width: 100%;
}

header{
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-bottom: 30px;
  /* font-family: 'Indie Flower', cursive; */
}

body{
  background-color:rgb(136,201,204);
}


div.imageWrap {
  width: 200px; 
}

main.myMain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*
  flex-direction: row;
  align-items: start;
  flex-grow: 1;
*/  
  padding-left: 20px;
  padding-right: 20px;
}

div.tile {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: white;
  
}
